USE [pmweb]
GO
/****** Objeto:  StoredProcedure [SP_INTEGRACAO_DADOS]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [SP_INTEGRACAO_DADOS]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ID_LOG INT;
    DECLARE @QtdClientes INT = 0;
    DECLARE @QtdPedidos INT = 0;
    DECLARE @ErroMsg VARCHAR(MAX) = '';

    -- Inicia o registo de log
    INSERT INTO LOG_RODADA (DATA_INICIO, STATUS_RODADA)
    VALUES (GETDATE(), 'EM ANDAMENTO');
    
    SET @ID_LOG = SCOPE_IDENTITY();

    BEGIN TRY
        BEGIN TRANSACTION;

        -- INTEGRAÇÃO CLIENTES
        MERGE CLIENTES AS tgt
        USING (
            SELECT 
                CAST(LTRIM(RTRIM(ID)) AS INT) AS ID,
                LEFT(LTRIM(RTRIM(EMAIL)), 255) AS EMAIL,
                LEFT(LTRIM(RTRIM(NOME)), 255) AS NOME,
                TRY_CONVERT(DATE, LTRIM(RTRIM(DT_NASC)), 103) AS DATA_NASCIMENTO,
                LEFT(LTRIM(RTRIM(CIDADE)), 100) AS CIDADE,
                LEFT(LTRIM(RTRIM(ESTADO)), 2) AS UF, -- Garante que apanha apenas os 2 caracteres (ex: SP)
                CAST(LTRIM(RTRIM(RECEBE_EMAIL)) AS BIT) AS PERMISSAO_RECEBE_EMAIL
            FROM STG_CLIENTES
            WHERE ID IS NOT NULL AND LTRIM(RTRIM(ID)) <> '' -- Previne linhas em branco do CSV
        ) AS src
        ON tgt.ID = src.ID
        WHEN MATCHED THEN
            UPDATE SET 
                EMAIL = src.EMAIL,
                NOME = src.NOME,
                DATA_NASCIMENTO = src.DATA_NASCIMENTO,
                CIDADE = src.CIDADE,
                UF = src.UF,
                PERMISSAO_RECEBE_EMAIL = src.PERMISSAO_RECEBE_EMAIL
        WHEN NOT MATCHED THEN
            INSERT (ID, EMAIL, NOME, DATA_NASCIMENTO, CIDADE, UF, PERMISSAO_RECEBE_EMAIL)
            VALUES (src.ID, src.EMAIL, src.NOME, src.DATA_NASCIMENTO, src.CIDADE, src.UF, src.PERMISSAO_RECEBE_EMAIL);

        SET @QtdClientes = @@ROWCOUNT;

        -- INTEGRAÇÃO PEDIDOS
        INSERT INTO PEDIDOS (ID_CLIENTE, ID_PEDIDO, ID_PRODUTO, DEPARTAMENTO, QUANTIDADE, VALOR_UNITARIO, PARCELAS, DATA_PEDIDO, MEIO_PAGAMENTO, STATUS_PAGAMENTO)
        SELECT 
            CAST(LTRIM(RTRIM(COD_CLIENTE)) AS INT),
            CAST(LTRIM(RTRIM(COD_PEDIDO)) AS INT),
            CAST(LTRIM(RTRIM(CODIGO_PRODUTO)) AS INT),
            LEFT(LTRIM(RTRIM(DEPTO)), 100),
            CAST(LTRIM(RTRIM(QUANTIDADE)) AS INT),
            CAST(REPLACE(LTRIM(RTRIM(VALOR_UNITARIO)), ',', '.') AS DECIMAL(10,2)), -- Adicionado replace de vírgula caso ocorra
            CAST(LTRIM(RTRIM(QTD_PARCELAS)) AS INT),
            TRY_CONVERT(DATE, LTRIM(RTRIM(DT_PEDIDO)), 103),
            LEFT(LTRIM(RTRIM(MEIO_PAGTO)), 50),
            LEFT(LTRIM(RTRIM(STATUS_PAGAMENTO)), 50) -- Evita que caracteres ocultos da quebra de linha quebrem o limite
        FROM STG_PEDIDOS
        WHERE COD_PEDIDO IS NOT NULL AND LTRIM(RTRIM(COD_PEDIDO)) <> '';

        SET @QtdPedidos = @@ROWCOUNT;

        -- Esvazia a área de staging para as próximas rodadas
        TRUNCATE TABLE STG_CLIENTES;
        TRUNCATE TABLE STG_PEDIDOS;

        COMMIT TRANSACTION;

        -- Atualiza o Log informando SUCESSO
        UPDATE LOG_RODADA
        SET DATA_FIM = GETDATE(),
            QTD_CLIENTES_PROCESSADOS = @QtdClientes,
            QTD_PEDIDOS_PROCESSADOS = @QtdPedidos,
            STATUS_RODADA = 'SUCESSO',
            MENSAGEM = 'Processamento efetuado com sucesso.'
        WHERE ID_LOG = @ID_LOG;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErroMsg = ERROR_MESSAGE();

        -- Atualiza o Log informando ERRO
        UPDATE LOG_RODADA
        SET DATA_FIM = GETDATE(),
            STATUS_RODADA = 'ERRO',
            MENSAGEM = @ErroMsg
        WHERE ID_LOG = @ID_LOG;
        
        THROW;
    END CATCH
END;